

<!DOCTYPE html>
<html>
   <head>
      {% load static %}
      <link rel="stylesheet" href="{% static "frontend/style.css" %}">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Deezerplay</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">
   </head>
   {% include "frontend/header.html"%}
   <body>
      <section>

         <div>
           <div class="can-toggle can-toggle--size-large">
             <input id="c" type="checkbox" onclick="myFunction()">
             <label for="c">
               <div class="can-toggle__switch" data-checked="Artist" data-unchecked="Track"></div>
               <div class="can-toggle__label-text"></div>
             </label>
           </div>
           <div id="artist" style="display:block">
              Artist
           </div>

           <div id="track" style="display:none">
  Track
           </div>
         <br>
         <div id="alphabetics" align="center">
            <a href="/a">A</a> -
            <a href="/b">B</a> -
            <a href="/c">C</a> -
            <a href="/d">D</a> -
            <a href="/e">E</a> -
            <a href="/f">F</a> -
            <a href="/g">G</a> -
            <a href="/h">H</a> -
            <a href="/i">I</a> -
            <a href="/j">J</a> -
            <a href="/k">K</a> -
            <a href="/l">L</a> -
            <a href="/m">M</a> <br>
            <a href="/n">N</a> -
            <a href="/o">O</a> -
            <a href="/p">P</a> -
            <a href="/q">Q</a> -
            <a href="/r">R</a> -
            <a href="/s">S</a> -
            <a href="/t">T</a> -
            <a href="/u">U</a> -
            <a href="/v">V</a> <br>
            <a href="/w">W</a> -
            <a href="/x">X</a> -
            <a href="/y">Y</a> -
            <a href="/z">Z</a>
         </div>
         <table>
            <thead>
               <tr>
                  <th colspan="3">Rechercher par : </th>
               </tr>
               <tr>
                  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                     rel="stylesheet">
                  <th>#</th>
                  <th colspan="3">3 Résultats</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><img src="https://lastfm-img2.akamaized.net/i/u/64s/5aa48d2cb7af7b9cf2718622ede7212f.png"/></td>
                  <td><b>Madonna</b><br>Like a virgin</td>
                  <td>
                     <i class="material-icons button2 library_music">library_music</i>
                     <i class="material-icons button2 playlist_add">playlist_add</i>
                  </td>
               </tr>
               <tr>
                  <td><img src="https://lastfm-img2.akamaized.net/i/u/64s/5aa48d2cb7af7b9cf2718622ede7212f.png"/></td>
                  <td><b>Luis Fonsi</b><br>Despacito</td>
                  <td>
                     <i class="material-icons button2 library_music">library_music</i>
                     <i class="material-icons button2 playlist_add">playlist_add</i>
                  </td>
               </tr>
               <tr>
                  <td><img src="https://lastfm-img2.akamaized.net/i/u/64s/5aa48d2cb7af7b9cf2718622ede7212f.png"/></td>
                  <td><b>Maître Gims</b><br>Bella</td>
                  <td>
                     <i class="material-icons button2 library_music">library_music</i>
                     <i class="material-icons button2 playlist_add">playlist_add</i>
                  </td>
               </tr>
            </tbody>
         </table>

      </section>
      {% include 'frontend/footer.html' %}
   </body>
   <script>
   function myFunction() {
     var checkBox = document.getElementById("c");
     var artist = document.getElementById("artist");
      var track = document.getElementById("track");
     if (checkBox.checked == true){
       artist.style.display = "none";
       track.style.display = "block";
     } else {
        artist.style.display = "block";
        track.style.display = "none";
     }
   }
   </script>
</html>
